<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ this.alt }}" {% if bag('alternatives', this.alt, 'direction') == 'text-right' %}dir="rtl" {% endif %}>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ _('Defend yourself against tracking and surveillance. Circumvent censorship.') }} | {{ this.title }}">
<link rel="stylesheet" href="{{ '/static/css/bootstrap.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/fontawesome/css/all.min.css'|asseturl }}" rel="stylesheet">
<!-- Standard favicon -->
<link rel="icon" type="image/x-icon" href="{{ '/static/images/favicon.ico'|asseturl }}">
<!-- Recommended favicon format -->
<link rel="icon" type="image/png" href="{{ '/static/images/favicon.png'|asseturl }}">


<title>{% block title %}{{ this.title }} {{ this.term }} {% endblock %} | {{ _("Tor Project | Support") }}</title>
<body class="no-gutters" data-spy="scroll" data-target="#sidenav-topics" id="topics" data-children=".item">
  <header>
    {% include 'navbar.html' %}
  </header>
  <div class="page">
    <div class="jumbotron jumbotron-fluid bg-primary text-white mb-md-5">
      <div class="container-fluid text-center">
        {% if this.title %}
          <h1 class="display-4 no-border font-weight-light pt-5 pb-4">{{ this.title }}</h1>
        {% elif this.term %}
          <h1 class="display-4 no-border font-weight-light pt-5 pb-4">{{ this.term }}</h1>
        {% endif %}
        {% include 'search.html' %}
      </div>
    </div>
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        {% include 'sidenav.html' %}
        {% set locale = bag('alternatives', this.alt) %}
        <main role="main" class="col-sm-12 col-xs-12  ml-sm-auto col-md-9 col-lg-9  {{ locale.order }} {{ locale.direction }}">
          {% block body %}{% endblock %}
        </main>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}

</body>
</html>
